.login {
  background-image: url("../Images/background-login.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  height: 100vh;
}

.login .login_container {
  border: 2px solid #06C4FD;
  height: 600px;
  width: 80vw;
  margin: auto;
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-53%);
          transform: translateY(-53%);
}

.login .login_container .login_children {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login .login_container .login_children .login_image {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login .login_container .login_children .signin_form_container {
  border: 2px solid #f0efef;
  height: 93%;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login .login_container .login_children .signin_form_container .signin_change_user_type {
  color: #0675F5;
}

.login .login_container .login_children .signin_form_container .signin_change_user_type:hover {
  cursor: pointer;
}

.login .login_container .login_children .signin_form_container .signin_input {
  height: 50px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid #f0efef;
  font-size: large;
  text-indent: 10px;
  outline-color: #08D0FC;
}

.login .login_container .login_children .signin_form_container .signin_button {
  height: 50px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid #f0efef;
  font-size: large;
  background-color: #08D0FC;
}

.login .login_container .login_children .signin_form_container .signin_button:hover {
  cursor: pointer;
  background-color: #0675F5;
}

.login .login_container .login_children .signin_form_container .signin_form {
  display: -ms-grid;
  display: grid;
}

.login .login_container .login_children .signin_form_container .signin_form .login_label {
  text-align: left;
  padding-left: 42px;
  padding-bottom: 6px;
}

.login .login_container .login_children .login_form_container {
  border: 2px solid #f0efef;
  height: 80%;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login .login_container .login_children .login_form_container .login_change_user_type {
  color: #0675F5;
}

.login .login_container .login_children .login_form_container .login_change_user_type:hover {
  cursor: pointer;
}

.login .login_container .login_children .login_form_container .login_input {
  height: 50px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid #f0efef;
  font-size: large;
  text-indent: 10px;
  outline-color: #08D0FC;
}

.login .login_container .login_children .login_form_container .login_button {
  height: 50px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid #f0efef;
  font-size: large;
  background-color: #08D0FC;
}

.login .login_container .login_children .login_form_container .login_button:hover {
  cursor: pointer;
  background-color: #0675F5;
}

.login .login_container .login_children .login_form_container .login_form {
  display: -ms-grid;
  display: grid;
}

.login .login_container .login_children .login_form_container .login_form .login_label {
  text-align: left;
  padding-left: 42px;
  padding-bottom: 6px;
}

.login .login_container .login_children .login_form_container .third_party_login_button {
  width: 48%;
  height: 50px;
  background-color: #08D0FC;
  color: white;
  font-size: large;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid #f0efef;
  font-size: large;
  background-color: #08D0FC;
}

.login .login_container .login_children .login_form_container .third_party_login_button:hover {
  cursor: pointer;
  background-color: #0675F5;
}
/*# sourceMappingURL=Login.css.map */